# Qt build directories
build*/
*.user
*.pro.user
*.pro.user.*
*.qmake.stash
*.qmake.cache
Makefile
Makefile.Debug
Makefile.Release
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.a
*.lib
*.log

# Qt Creator files
*.creator
*.creator.user
*.files
*.includes
*.moc
*.rcc
*.ui
*.qrc

# Backup files
*~
*.swp
*.swo